.Input {
  display: flex;
  flex-direction: column;
}

.Input label {
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 27px;
}

.Input input {
  background: #fff;
    border: 1px solid #1d1e1f;
    border-radius: 0.25rem;
    color: #1d1e1f;
    display: block;
    font-size: 1rem;
    height: 2.5rem;
    padding: 0;
    width: 100%;
}
