.Register {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
  padding-left: 40px;
  padding-right: 40px;
  height: 100%;
  overflow: auto;
}

.Register form {
  width: 100%;
}
