.Title {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.Title h1 {
  font-style: normal;
  line-height: 45px;
  font-size: 2rem;
  font-weight: 400;
  text-align: center;
  display: block;
}
